.home {
  padding: 20px 0;
  font-size: 15px;
  width: calc(100% - 200px);
}

.home h1 {
  font-size: 30px;
  font-weight: 400
}

.home .today {
  color: lightblue;
}

@media (max-width: 400px) {
  .home h1 {
    font-size: 17px;
  }
}