.currency-info-component {
  width: 100%;
  padding: 20px 0;
}

.currency-info-component h1 {
  font-size: 30px;
  font-weight: 400;
}

.currency-info-component h2 {
  font-weight: 400;
  font-size: 20px;
  color: #777;
}

.currency-info-component h2 span:first-of-type{
  color: #777;
  margin-left: 30px;
}

.currency-info-component h2 span:last-of-type{
  color: lightblue;
  margin-left: 30px;
}

.currency-info-component h4 {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}

.currency-info-component h4 span {
  color: #111
}

.currency-info-component h4:first-of-type {
  margin-top: 50px;
}

.percentag {
  margin-left:25px;
  font-size: 25px;
  font-weight: 200;
}

.svg-charts {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.svg-charts svg {
  transition: all 1s;
  filter: grayscale(1) opacity(.7);
  border-radius:24px;border: 1px solid transparent;
  padding: 10px;
}

.svg-charts svg:hover {
  transform: scale(1.2);
  cursor: pointer;
  filter: grayscale(0) opacity(1);
  box-shadow: 0 0 20px #f4f4f4;
  border-color: #e4e4e4;
}

@media only screen and (max-width: 768px) {
  .currency-info-component{
    display: block;
    margin-top: 30px;
    height: 80%;
    overflow: auto;
  }
  .currency-info-component .svg-charts {
    flex-wrap: wrap;
    width: 100%;
  }
  .currency-info-component .svg-charts svg {
    /* transform: scale(.5); */
  }
}