.App {
  height: calc(100vh - 80px)
} 
.App-container {
  height: 100%;
  border-radius: 25px;
  box-shadow: 0 0 25px #f4f4f4;
  margin: 20px;
  padding: 20px;
}
img {
  display: block;
  width: 100%;
}
