.App {
  height: 100%;
  background-color: white;
  padding: 20px;

} 
.App-container {
  height: 100%;
  border-radius: 25px;
  box-shadow: 0 0 25px #f4f4f4;
  max-height: 700px;
  padding: 0 20px;
  position: relative;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
}
img {
  display: block;
  width: 100%;
}

#root {
  position: absolute;
  height: calc(100vh - 40px);
  background-color: white;
  width: 100%;
}

.theme-inv {
  position: absolute;
  top: 10px;
  height: 30px;
  width: 30px;
  right: 300px;
  border-radius: 50%;
  box-shadow: 0 0 20px #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 3000;
  border: 1px solid #333;
  cursor: pointer;
}

.theme-inv img {
  width: fit-content;
  pointer-events: none;
}

@media only screen and (min-width: 1281px) {
  .App-container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
  }
}

@media only screen and (max-width: 768px) {
.theme-inv  {
  right: 165px;
}
}